<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- HTML page name and path :: Fragment name -->
<!-- All locations are relative to the path: src/main/resources/templates -->
<head th:replace="common/header :: common-header"></head>

<body>
	<div th:replace="common/navbar :: common-navbar"></div>

	<div class="container">
		<div>
			<!-- Nav tabs -->
			<ul class="nav nav-pills nav-justified" role="tablist">
				<li id="programListTabs" role="presentation" th:each="eventDate, iter : ${eventDates}">
					<a th:href="|#tab_${eventDate}|" th:text="${#dates.format(eventDate, 'dd/MM')}"></a>
				</li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane" th:id="|tab_${eventDate}|" th:each="eventDate, iter : ${eventDates}">
					<ul class="list-group">
						<li class="list-group-item" th:id="${program.id}" th:each="program : ${programList.get(eventDate)}">
							<span class="badge" th:text="${#dates.format(program.endDate, 'HH:mm')}"></span>
							<span class="badge badge-reverse">-</span>
							<span class="badge" th:text="${#dates.format(program.beginDate, 'HH:mm')}"></span>
							<!-- <a th:href="@{/program/__${program.id}__}" th:text="${program.title}"></a> -->
							<p th:text="${program.title}"></p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript -->
	<div th:replace="common/header :: before-body-scripts"></div>
	
	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function() {
			$('.list-group-item').click(function() {
				var programId = $(this).attr('id');
				var beginDate = $(this).find('span').eq(2).text();
				var endDate = $(this).find('span').eq(0).text();
				var message = '';
				var title = '';

				$.ajax({
					url: '/program/' + programId,
					type: 'GET',
					dataType: 'JSON',
					async: false,
					contentType: "application/json;charset=utf-8",
					success: function(program) {
						// console.log(program);
						// console.log(program.programVenues[0].venue);
						title = program.title;
						message = '<div>';
						message += '<p>' + program.description + '</p>';
						message += '</div>';
					},
					error: function(xhr, status, error) {
						console.log(xhr.responseText);
						console.log(status);
						console.log(error);
					}
				});

				BootstrapDialog.show({
					type: BootstrapDialog.TYPE_PRIMARY,
					size: BootstrapDialog.SIZE_LARGE,
					title: title,
					message: message,
					draggable: false,
				});
			});
		});
	</script>
</body>
</html>