<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- HTML page name and path :: Fragment name -->
<!-- All locations are relative to the path: src/main/resources/templates -->
<head th:replace="common/header :: common-header"></head>

<body>
	<div th:replace="common/navbar :: common-navbar"></div>

	<div class="container">
		<div>
			<!-- Nav tabs -->
			<ul class="nav nav-pills nav-justified" role="tablist">
				<li id="programListTabs" role="presentation" th:each="eventDate, iter : ${eventDates}">
					<a th:href="|#tab_${eventDate}|" th:text="${#dates.format(eventDate, 'dd/MM')}"></a>
				</li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane" th:id="|tab_${eventDate}|" th:each="eventDate, iter : ${eventDates}">
					<ul class="list-group">
						<li class="list-group-item" th:each="program : ${programList.get(eventDate)}">
							<span class="badge" th:text="${#dates.format(program.beginDate, 'HH:mm')}"></span>
							<span class="badge badge-reverse">-</span>
							<span class="badge" th:text="${#dates.format(program.endDate, 'HH:mm')}"></span>
							<p th:text="${{program.title}}"></p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Bootstrap core JavaScript -->
	<div th:replace="common/header :: before-body-scripts"></div>
</body>
</html>